build/
.DS_Store
node_modules/
.env
.vscode/
dist/
.idea/
*.log
installer_output/
__pycache__/
pace_config.py
src/tci-reverse-engineering/**/*.wav
src/tci-reverse-engineering/**/*.tci
src/tci-reverse-engineering/**/ghidra_*