@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter Font */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter/static/Inter_24pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Inter/static/Inter_24pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Inter/static/Inter_24pt-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Inter/static/Inter_24pt-Bold.ttf") format("truetype");
}

/* Custom styles can be added here */

/* Hit flash animation for preset quality indicator */
.preset-quality-indicator > div {
  transition: background-color 0.2s ease-out;
}

.preset-quality-indicator > div.hit-flash {
  background-color: white !important;
}
