<div class="h-full p-8">
  <div class="h-full border-2 border-black">
    <div class="flex flex-row gap-6">
      <div class="grow"></div>
      <button @click="editor = !editor" class="p-1 hover:opacity-50">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="size-4"
        >
          <path
            d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z"
          />
        </svg>
      </button>
    </div>
    <div class="px-6 py-6">
      <h1 class="text-3xl font-bold mb-4">Coming soon :))))</h1>
    </div>
  </div>
</div>