<!-- Header -->
<div
  class="h-20 border-b-2 border-black mt-[2px] flex items-center justify-between gap-6 px-6"
>
  <div class="overflow-hidden">
    <span
      x-show="!presetInfo.isPresetLoaded"
      class="text-3xl tracking-wide"
    >DrumEngine01</span>
    <div x-show="presetInfo.isPresetLoaded">
      <div class="-mb-1.5 -mt-1">
        <span class="text-xs tracking-widest font-normal">DrumEngine01</span>
      </div>
      <div class="truncate">
        <span class="text-2xl font-semibold" x-text="presetDisplay"></span>
      </div>
    </div>
  </div>

  <div>
    <div
      class="grid grid-cols-10 gap-y-[5px] gap-x-[3px] preset-quality-indicator min-w-[127px]"
    >
      <template x-for="rr in [1, 2, 3, 4, 5]" :key="rr">
        <template x-for="vel in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" :key="vel">
          <div
            :class="`velocity-${vel} rr-${rr} w-[10px] h-[4px] bg-black cursor-pointer ${
              hasSample(vel, rr) ? 'opacity-100' : 'opacity-20'
            }`"
            @click="auditionIndicatorCell(vel, rr)"
          ></div>
        </template>
      </template>
    </div>
  </div>
</div>