<!-- Toolbar -->
<div class="text-white text-xs grow flex space-x-[2px] h-4">
  <button
    @click="togglePresetBrowser()"
    class="grow overflow-hidden font-semibold px-2 bg-black text-white border-none outline-none text-left truncate"
  >
    <span
      x-text="currentPresetIndex >= 0 && currentPresetIndex < presetList.length ? `${presetList[currentPresetIndex].category}/${presetList[currentPresetIndex].displayName}` : '-- Select Preset --'"
    ></span>
  </button>
  <button
    @click="loadPrevPreset()"
    class="px-2 py-1 hover:bg-neutral-700 bg-black text-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="size-4"
    >
      <path
        fill-rule="evenodd"
        d="M14 8a.75.75 0 0 1-.75.75H4.56l1.22 1.22a.75.75 0 1 1-1.06 1.06l-2.5-2.5a.75.75 0 0 1 0-1.06l2.5-2.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
  <button
    @click="loadNextPreset()"
    class="px-2 py-1 hover:bg-neutral-700 bg-black text-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="size-4"
    >
      <path
        fill-rule="evenodd"
        d="M2 8c0 .414.336.75.75.75h8.69l-1.22 1.22a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06l-2.5-2.5a.75.75 0 1 0-1.06 1.06l1.22 1.22H2.75A.75.75 0 0 0 2 8Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
  {{! <button
    @click="sendMessage('browseForPreset')"
    class="bg-black flex justify-center items-center hover:bg-neutral-700 px-2"
  >
    <span class="font-semibold">LOAD</span>
  </button> }}
  {{! <button
    @click="editor = !editor"
    class="bg-black flex justify-center items-center hover:bg-neutral-700 px-2"
  >EDITOR</button> }}
  <div x-data="{ open: false }" class="relative h-full">
    <button
      @click="open = !open"
      class="bg-black flex justify-center items-center hover:bg-neutral-700 px-2 py-1 h-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="size-4"
      >
        <path
          fill-rule="evenodd"
          d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8Zm0 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <div
      x-show="open"
      @click.away="open = false"
      class="absolute right-0 mt-[2px] z-50 bg-neutral-900 border border-neutral-900 rounded shadow-lg w-48"
      x-transition
    >
      <div
        class="px-4 py-1 text-[10px] text-gray-400 font-semibold"
      >Output</div>
      <button
        class="w-full text-left px-4 py-2 hover:bg-neutral-700"
        @click="sendMessage('setOutputMode', { mode: 'multiout' }); outputMode = 'multiout'; open = false"
      >
        <div class="flex">
          <span class="grow">Multi-out</span>
          <svg
            x-show="outputMode === 'multiout'"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </button>
      <hr class="border-t border-neutral-700 my-1" />
      <div class="px-4 py-1 text-[10px] text-gray-400 font-semibold">Pitch Mode</div>
      <button
        class="w-full text-left px-4 py-2 hover:bg-neutral-700"
        @click="if (autoPitchMode) { autoPitchMode = false; presetInfo.pitchShift = 0.0; sendMessage('setAutoPitchMode', { enabled: false }); } open = false"
      >
        <div class="flex">
          <span class="grow">Semitones</span>
          <svg
            x-show="!autoPitchMode"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </button>
      <button
        class="w-full text-left px-4 py-2 hover:bg-neutral-700"
        @click="if (!autoPitchMode) { autoPitchMode = true; sendMessage('setAutoPitchMode', { enabled: true }); } open = false"
      >
        <div class="flex">
          <span class="grow">Auto Hz</span>
          <svg
            x-show="autoPitchMode"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </button>
      <hr class="border-t border-neutral-700 my-1" />
      <div class="px-4 py-1 text-[10px] text-gray-400 font-semibold">Resampling
        Mode</div>
      <button
        class="w-full text-left px-4 py-2 hover:bg-neutral-700"
        @click="setResamplingMode('off'); open = false"
      >
        <div class="flex">
          <span class="grow">Off</span>
          <svg
            x-show="resamplingMode === 'off'"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </button>
      <button
        class="w-full text-left px-4 py-2 hover:bg-neutral-700"
        @click="setResamplingMode('catmullrom'); open = false"
      >
        <div class="flex">
          <span class="grow">Punch</span>
          <svg
            x-show="resamplingMode === 'catmullrom'"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </button>
      <button
        class="w-full text-left px-4 py-2 hover:bg-neutral-700"
        @click="setResamplingMode('lanczos3'); open = false"
      >
        <div class="flex">
          <span class="grow">Smooth</span>
          <svg
            x-show="resamplingMode === 'lanczos3'"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </button>
      <hr class="border-t border-neutral-700 my-1" />
      <div
        class="w-full text-left px-4 py-2 text-gray-400 font-normal text-[8px]"
      >
        <span x-text="`Version ${version}`"></span>
        <span x-text="`Build ${buildNumber}`"></span>
        <span x-show="buildTimestamp" x-text="`/ ${buildTimestamp}`"></span>
      </div>
    </div>
  </div>
</div>