<!-- Mixer Strips -->
<div class="flex gap-6 justify-center grow px-12 py-6">
  {{#each (range 1 8)}}
    <!-- Mixer Strip {{this}} -->
    <div class="channel-strip w-16 opacity-50" data-slot="{{@index}}">
      <div
        class="slot-label text-center truncate text-[10px] uppercase font-black mb-1"
      >
        {{this}}
      </div>
      <div
        class="h-[180px] w-8 border-2 border-black mx-auto my-1 flex items-end relative"
      >
        <input
          type="range"
          class="volume-fader absolute inset-0 w-full h-full opacity-0"
          orient="vertical"
          min="0"
          max="100"
          value="100"
        />
        <div
          class="volume-indicator w-full bg-black"
          style="height: 100%"
        ></div>
      </div>
      <div class="text-center grid grid-cols-1 gap-0.5 text-[10px] font-black">
        <div class="volume-value text-center">0.0 dB</div>
        <button class="mute-button uppercase">Mute</button>
        <button class="solo-button uppercase">Solo</button>
      </div>
    </div>
  {{/each}}
</div>