<div
  x-data="presetBrowser()"
  class="bg-neutral-700 text-white font-bold select-none !cursor-default h-full overflow-hidden"
>
  <div class="m-[2px] h-full flex flex-col">
    <div class="text-white text-xs flex items-center justify-between px-2 py-1">
      <div class="font-semibold tracking-wide uppercase">Presets</div>
      <div class="flex items-center gap-1">
        <button
          @click="toggleViewMode()"
          class="p-1 hover:opacity-60 text-[10px] uppercase tracking-widest"
          aria-label="Toggle preset view"
          x-text="viewMode === 'list' ? 'Folders' : 'List'"
        >
        </button>

        <button
          @click="refreshPresets()"
          class="p-1 hover:opacity-60"
          aria-label="Refresh preset list"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-3"
            :class="getRoot()?.isScanningPresets ? 'animate-spin' : ''"
          >
            <path
              fill-rule="evenodd"
              d="M13.836 2.477a.75.75 0 0 1 .75.75v3.182a.75.75 0 0 1-.75.75h-3.182a.75.75 0 0 1 0-1.5h1.37l-.84-.841a4.5 4.5 0 0 0-7.08.932.75.75 0 0 1-1.3-.75 6 6 0 0 1 9.44-1.242l.842.84V3.227a.75.75 0 0 1 .75-.75Zm-.911 7.5A.75.75 0 0 1 13.199 11a6 6 0 0 1-9.44 1.241l-.84-.84v1.371a.75.75 0 0 1-1.5 0V9.591a.75.75 0 0 1 .75-.75H5.35a.75.75 0 0 1 0 1.5H3.98l.841.841a4.5 4.5 0 0 0 7.08-.932.75.75 0 0 1 1.025-.273Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <button
          @click="getRoot()?.togglePresetBrowser()"
          class="p-1 -mr-1.5 hover:opacity-60"
          aria-label="Close preset browser"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4"
          >
            <path
              d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="pt-0 p-2 flex flex-col grow overflow-hidden">
      <input
        x-model="searchTerm"
        type="text"
        placeholder="Search presets..."
        autocomplete="off"
        class="shrink-0 h-10 font-semibold px-2 text-xs border-2 border-black bg-black text-white outline-none focus:outline-none"
      />

      <div
        x-show="availableTags.length > 0"
        class="flex flex-wrap shrink-0 gap-1 p-2 pt-0 bg-black max-h-[68px] overflow-x-hidden overflow-y-scroll"
        aria-label="Preset tags"
      >

        <template x-for="tag in availableTags" :key="tag">
          <button
            @click="toggleTag(tag)"
            class="px-2 py-1 text-[10px] uppercase tracking-widest"
            :class="getRoot()?.presetBrowserTags?.includes(tag) ? 'bg-white text-black' : 'bg-neutral-800 text-white'"
            x-text="tag"
          ></button>
        </template>
      </div>

      <div
        class="mt-2 bg-black scrollbar-none text-white grow overflow-y-auto overflow-x-hidden gap-0.5 py-1 pt-0 flex flex-col items-stretch text-xs"
        aria-label="Preset list"
        tabindex="-1"
        @mousedown.prevent
      >
        <div
          x-show="viewMode === 'folders'"
          class="sticky z-10 shrink-0 bg-neutral-800 top-0 px-1 py-1 h-8 flex items-center gap-2"
        >
          <button
            x-show="currentFolderPath.length > 0"
            @click="navigateUpFolder()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="size-4"
            >
              <path
                fill-rule="evenodd"
                d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <div
            class="text-[10px] font-medium opacity-70 truncate"
            dir="rtl"
            x-text="currentFolderPath.length ? currentFolderPath.join(' / ') : 'All Presets'"
          ></div>
        </div>

        <template
          x-if="viewMode === 'folders' && folderView.folders.length === 0 && currentPresetList.length === 0"
        >
          <div class="px-2 py-2 text-black text-opacity-50">
            No presets found
          </div>
        </template>

        <template x-for="folder in folderView.folders" :key="folder">
          <button
            x-show="viewMode === 'folders'"
            @click="enterFolder(folder)"
            class="mx-1 flex gap-2 text-left break-all text-white text-[10px] tracking-wider px-0.5 py-1 bg-black"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="size-4"
              >
                <path
                  d="M2 3.5A1.5 1.5 0 0 1 3.5 2h2.879a1.5 1.5 0 0 1 1.06.44l1.122 1.12A1.5 1.5 0 0 0 9.62 4H12.5A1.5 1.5 0 0 1 14 5.5v1.401a2.986 2.986 0 0 0-1.5-.401h-9c-.546 0-1.059.146-1.5.401V3.5ZM2 9.5v3A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5v-3A1.5 1.5 0 0 0 12.5 8h-9A1.5 1.5 0 0 0 2 9.5Z"
                />
              </svg>
            </span>
            <span x-text="folder"></span>
          </button>
        </template>

        <template x-if="viewMode === 'list' && groupedPresetList.length === 0">
          <div class="px-2 py-2 text-black text-opacity-50">
            No presets found
          </div>
        </template>

        <template x-if="viewMode === 'folders'">
          <div class="flex flex-col">
            <template x-for="preset in currentPresetList" :key="preset.index">
              <button
                @click="loadPreset(preset.index)"
                @mousedown.prevent
                tabindex="-1"
                :id="optionId(preset.index)"
                data-preset-item="true"
                :data-preset-index="preset.index"
                class="mx-1 text-left break-all text-white text-[10px] tracking-wider px-0.5 py-1"
                :class="preset.index === getRoot()?.currentPresetIndex ? 'bg-neutral-700' : 'bg-black'"
              >
                <div x-text="preset.displayName"></div>
              </button>
            </template>
          </div>
        </template>

        <template x-if="viewMode === 'list'">
          <div class="flex flex-col">
            <template
              x-for="group in groupedPresetList"
              :key="group.category + '-' + (group.presets[0] ? group.presets[0].index : '')"
            >
              <div class="flex flex-col">
                <div
                  class="sticky top-0 z-10 bg-neutral-800 px-1 py-2 text-[10px] font-medium text-white text-opacity-70 truncate text-left"
                  dir="rtl"
                  x-text="group.category"
                ></div>
                <template x-for="preset in group.presets" :key="preset.index">
                  <button
                    @click="loadPreset(preset.index)"
                    @mousedown.prevent
                    tabindex="-1"
                    :id="optionId(preset.index)"
                    data-preset-item="true"
                    :data-preset-index="preset.index"
                    class="mx-1 text-left break-all text-white text-[10px] tracking-wider px-0.5 py-1"
                    :class="preset.index === getRoot()?.currentPresetIndex ? 'bg-neutral-700' : 'bg-black'"
                  >
                    <div x-text="preset.displayName"></div>
                  </button>
                </template>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>