<!-- Status Bar -->
<div class="flex gap-3 items-end justify-start mx-2 mb-1">
  <label class="flex items-center gap-1 mb-[2px]">
    <span class="text-[10px]">Pitch</span>
    <div
      @pointerdown="handlePitchDrag($event)"
      @dblclick="resetPitch()"
      @click.alt="resetPitch()"
      class="h-4 w-16 border-2 border-black flex items-center relative cursor-pointer"
    >
      <div
        class="pitch-indicator h-full bg-black pointer-events-none"
        :style="`width: ${((presetInfo.pitchShift + 6) / 12) * 100}%`"
      ></div>
    </div>
    <span
      class="text-[10px] w-8 h-4 text-right"
      x-text="formatPitchShift(presetInfo.pitchShift)"
    ></span>
  </label>
  <div class="grow"></div>
  <label class="flex">
    <span class="text-[10px]">Midi Note</span>
    <input
      type="text"
      x-model="midiNoteInput"
      @keydown.enter.prevent="handleMidiNoteChange()"
      @keydown.escape.prevent="resetMidiNoteInput()"
      @blur="handleMidiNoteChange()"
      @input="sanitizeMidiNoteInput($event)"
      class="w-8 h-4 text-[10px] text-center ml-1 bg-black !text-white"
    />
  </label>
  <label class="flex">
    <input
      type="checkbox"
      x-model="presetInfo.midiNoteLocked"
      @change="sendMessage('setMidiNoteLocked', { locked: presetInfo.midiNoteLocked })"
      class="hidden peer"
    />
    <span
      class="text-[10px] px-2 h-4 text-black text-opacity-50 peer-checked:bg-black peer-checked:text-white peer-checked:text-opacity-100"
    >
      Lock MIDI
    </span>
  </label>
  <label class="flex">
    <input
      type="checkbox"
      x-model="presetInfo.useVelocityToVolume"
      @change="sendMessage('setVelocityToVolume', { enabled: presetInfo.useVelocityToVolume })"
      class="hidden peer"
    />
    <span
      class="text-[10px] px-2 h-4 text-black text-opacity-50 peer-checked:bg-black peer-checked:text-white peer-checked:text-opacity-100"
    >
      Velocity→Volume
    </span>
  </label>
  <label class="flex">
    <input
      type="checkbox"
      :checked="outputMode === 'multiout'"
      @change="sendMessage('setOutputMode', { mode: $event.target.checked ? 'multiout' : 'stereo' }); outputMode = $event.target.checked ? 'multiout' : 'stereo'"
      class="hidden peer"
    />
    <span
      class="text-[10px] px-2 h-4 text-black text-opacity-50 peer-checked:bg-black peer-checked:text-white peer-checked:text-opacity-100"
    >
      Multi-Out
    </span>
  </label>
</div>